<%- include('partials/header') %>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-custom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav navbar-nav navbar-nav ml-auto text-center">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/blog">Blog</a>
      <a class="nav-item nav-link" href="/compose">Compose</a>
    </div>
  </div>
</nav>
<div class="blogTitle center spacing-padding">
  <h2>My Blog</h2>
  <a href="/compose" class="btn btn-dark">Compose</a>
</div>
<% posts.forEach(function(post){%>
<div class="edu-box-styling spacing-padding box-shading spacing-margin">
  <h3><%=post.title%></h3>
  <%= post.content.substring(0,100)+"..." %>
  <a href="/posts/<%=post._id%>">Read More</a>
</div>
<%});%>
<%- include('partials/footer') %>
